{% extends "layout.html" %}
{% block content %}
<h3>
    <br>
    <Center> <b> Agregar Carrera </b> </Center>

</h3>
   <br>
   <br>
<form action="/carrera_fagrega" method="POST">
   <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="nombre" class="form-label"><strong> Ingrese la Carrera:</strong></label>
                      <input type="text" class="form-control" name="nombre" id="nombre"required></input>
                </div>
                </div>
          </div>
       <button type="submit" class="btn btn-info">Enviar</button>
    </div>

</form>
{% endblock %}
