{% extends "layout.html" %}

{% block content %}
<body >

  <br>
  <br>
  <center><h2>Empresa</h2></center>

    <div class="container">

      <div class="card" id="card1">
        <figure>
          <img src="/static/img/segura.jpg">
        </figure>
        <div class="contenido">
          <h3>Segura</h3>
          <p>Seguridad</p>
        </div>
      </div>

      <div class="card" id="card3">
        <figure>
          <img src="/static/img/empresa.jpg">
        </figure>
        <div class="contenido">
          <h3>Amplia</h3>
          <p>Amplitud</p>
        </div>
      </div>

      <div class="card" id="card2">
        <figure>
          <img src="/static/img/als.jpg">
        </figure>
        <div class="contenido">
          <h3>Ambiente Laboral</h3>
          <p>Excelente Ambiente Laboral</p>
        </div>
      </div>

    </div>
  </div>
</center>
    


</body>
{% endblock %}